/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier > {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html,
body {
  background-color: #020f33;
  color: #e6ebfa;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: larger;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  padding: 0%;
  background-color: #2f417a;
  color: #e6ebfa;
  display: flex;
  align-items: center;
  z-index: 1000;
  font-family: "Quicksand", sans-serif;
}

#logo {
  background-color: #2f417a;
  color: #e6ebfa;
  height: 100%;
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

nav {
  background-color: #2f417a;
  color: #e6ebfa;
  height: 100%;
  width: 64%;
  display: flex;
  align-items: center;
}

/* Kontener listy nawigacyjnej */
#nav-list {
  list-style: none; /* Usuń punkty listy */
  padding: 0;
  margin: 0;
  display: flex; /* Wyświetlaj elementy obok siebie */
  gap: 10px; /* Odstęp między elementami */
}

/* Pojedynczy element listy */
.nav-list-item {
  margin: 0;
}

/* Styl przycisków nawigacyjnych */
.nav-list-item button {
  background-color: #2f417a; /* Kolor tła */
  color: #e6ebfa; /* Kolor tekstu */
  border: none; /* Usuń obramowanie */
  padding: 10px 20px; /* Odstęp wewnętrzny */
  border-radius: 5px; /* Zaokrąglone rogi */
  font-size: 16px;
  cursor: pointer; /* Rączka na hover */
  transition: background-color 0.3s ease; /* Płynna zmiana koloru tła */
}

/* Efekt na hover */
.nav-list-item button:hover {
  background-color: #3d549f; /* Jaśniejszy kolor tła */
}


#search-bar-container {
  position: fixed;
  top: 80px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 999;
}

#search-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

#filters {
  display: flex;
  gap: 10px;
}

#sort-select, #filter-select {
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#search-input {
  width: 300px;
  padding: 8px 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}
#language {
  background-color: #2f417a;
  color: #e6ebfa;
  padding-right: 1%;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img_flag {
  width: 80%;
}

#logging {
  background-color: #2f417a;
  color: #e6ebfa;
  text-align: right;
  text-transform: uppercase;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}

#logging-off {
  background-color: #2f417a;
  color: #e6ebfa;
  padding: 5px;
}

/* Przycisk rozwijania */
#toggle-button {
  position: fixed;
  top: 50%; /* Wyśrodkowanie względem ekranu */
  transform: translateY(-50%); /* Korekta dla wyśrodkowania */
  right: 0; /* Przycisk przy prawej krawędzi ekranu */
  background-color: #2f417a;
  color: white;
  font-size: 30px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; /* Wyśrodkowanie tekstu w pionie */
  cursor: pointer;
  z-index: 1001; /* Wyższy niż panel */
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Panel boczny */
.side-panel {
  position: fixed;
  top: 50%; /* Wyśrodkowanie panelu w pionie */
  transform: translateY(-50%); /* Korekta wyśrodkowania */
  right: -300px; /* Ukryty poza ekranem */
  width: 300px;
  height: 400px; /* Skrócona wysokość panelu */
  background-color: #2f417a;
  color: white;
  padding: 20px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease; /* Płynne przesuwanie */
  z-index: 1000;
  border-radius: 10px 0 0 10px;
  overflow: hidden; /* Ukrycie zawartości wychodzącej poza panel */
}

/* Gdy panel się rozwija */
.side-panel.open {
  right: 0; /* Panel przesuwa się na ekran */
}

/* Kontener z informacjami */
.info-container {
  max-height: 300px; /* Maksymalna wysokość obszaru przewijania */
  overflow-y: auto; /* Pionowe przewijanie */
  margin-top: 10px; /* Odstęp od nagłówka */
  padding-right: 10px; /* Odstęp od prawej krawędzi */
  scrollbar-width: thin; /* Wąski pasek przewijania dla Firefox */
  scrollbar-color: #93a2cf #2f417a; /* Kolory paska przewijania dla Firefox */
}

/* Pasek przewijania dla Chrome, Edge i Safari */
.info-container::-webkit-scrollbar {
  width: 8px;
}

.info-container::-webkit-scrollbar-thumb {
  background-color: #93a2cf; /* Kolor uchwytu paska przewijania */
  border-radius: 4px;
}

.info-container::-webkit-scrollbar-track {
  background-color: #2f417a; /* Tło paska przewijania */
}

/* Kontener na logi */
.log-container {
  max-height: 300px; /* Maksymalna wysokość pola przewijania */
  overflow-y: auto; /* Włączenie przewijania w pionie */
  padding-right: 10px;
  scrollbar-width: thin; /* Wąski pasek przewijania dla Firefox */
  scrollbar-color: #93a2cf #2f417a; /* Kolory paska przewijania dla Firefox */
}

/* Pasek przewijania dla Chrome, Edge i Safari */
.log-container::-webkit-scrollbar {
  width: 8px;
}

.log-container::-webkit-scrollbar-thumb {
  background-color: #93a2cf; /* Kolor uchwytu paska przewijania */
  border-radius: 4px;
}

.log-container::-webkit-scrollbar-track {
  background-color: #2f417a; /* Tło paska przewijania */
}

/* Styl pojedynczego wpisu */
.log-entry {
  display: flex; /* Układ w linii */
  justify-content: space-between; /* Odstępy między czasem a wiadomością */
  align-items: center; /* Wyśrodkowanie w pionie */
  background-color: #93a2cf; /* Tło wpisu */
  color: #e6ebfa; /* Kolor tekstu */
  padding: 10px;
  margin-bottom: 8px; /* Odstęp między wpisami */
  border-radius: 5px; /* Zaokrąglone rogi */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

/* Czas wpisu */
.log-time {
  font-weight: bold;
  color: #e6ebfa;
  margin-right: 10px;
}

/* Wiadomość wpisu */
.log-message {
  flex-grow: 1; /* Wiadomość zajmuje pozostałą przestrzeń */
}


main {
  background-color: #5b6ea6;
  color: #e6ebfa;
  min-height: 100vh;
  padding-top: calc(130px);
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  justify-content: center;
}

.tile {
  background-color: #93a2cf;
  border: 2px solid #e6ebfa;
  border-radius: 15px;
  overflow: hidden;
  width: 400px;
  height: 800px;
  color: #020f33;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tile .info {
  margin-left: 10%;
  margin-right: 10%;
  line-height: 21px;
  font-size: 18px;
  text-align: justify;
}

.tile .info .name {
  font-weight: bold;
  text-align: center;
}

.tile img {
  width: 40%;
  height: 20%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  object-fit: cover;
  border-radius: 10%;
}

footer {
  background-color: #2f417a;
  color: #e6ebfa;
  font-family: "Quicksand", sans-serif;
}
